@model List<Reservation>
@{
    ViewData["Title"] = "MyOldReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            @* <div class="card-header pb-0">
            <h6>Authors table</h6>
            </div> *@
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    @if (@Model.Count() >= 1)
                    {
                        <table class="table table-sm table-hover table-striped mb-0">
                            <thead>
                                <tr>
                                    <th>Tur</th>
                                    <th>Kişi Sayısı</th>
                                    <th>Açıklama</th>
                                    <th>Durum</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Destination.City - @item.Destination.Price - @item.Destination.Capacity</td>
                                        <td>@item.PersonCount</td>
                                        <td>@item.Description</td>
                                        <td>@item.Status</td>
                                        @*                                     <td>
                                <a href="javascript:;" class="btn btn-outline-info btn-sm  font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">Detaylar</a>
                                </td> *@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <h1 class="text-center p-2">Kayıt Bulunamadı...</h1>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



