@model List<Comment>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    @* <h5 class="card-header"><a href="/Admin/Destination/AddDestination" class="btn btn-primary">Yeni Destinasyon</a></h5> *@
    <div class="table-responsive text-nowrap">
        <table class="table table-sm table-hover table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Kullanıcı</th>
                    <th>Destinasyon</th>
                    <th>Tarih</th>
                    <th>Sil</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CommentID</td>
                        <td>@item.AppUser.Name @item.AppUser.Surname</td>
                        <td>@item.Destination.City</td>
                        <td>@(((DateTime)item.CommentDate).ToString("dd-MMM-yyyy hh:mm"))</td>
                        <td><a href="/Admin/Comment/DeleteComment/@item.CommentID" class="btn btn-sm btn-outline-danger">Sil</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>