<div class="card">
    <div class="card-header">
        <h4 class="card-title" id="heading-multiple-thumbnails">Profil Bilgiler</h4>
    </div>
    <div class="card-content" style="height:387px;">
        <div class="card-body">
            @* <h4 class="card-title">Content title</h4> *@
            <p class="card-text"><strong class="text-dark">Ad Soyad:</strong> &nbsp; @ViewBag.nameSurname</p>
            <p class="card-text"><strong class="text-dark">Telefon:</strong> &nbsp; @ViewBag.number</p>
            <p class="card-text"><strong class="text-dark">Mail:</strong> &nbsp; @ViewBag.mail</p>
            <p class="card-text"><strong class="text-dark">Konum:</strong> &nbsp; Türkiye</p>
            <p class="card-text"><strong class="text-dark">Rehber Sayısı:</strong> &nbsp; @ViewBag.guideCount</p>
            <p class="card-text"><strong class="text-dark">Rotalar Sayısı:</strong> &nbsp; @ViewBag.destinationCount</p>
            <p class="card-text"><strong class="text-dark">Aktif Rezervasyon:</strong> &nbsp; @ViewBag.activeRes</p>
            <p class="card-text"><strong class="text-dark">Geçmiş Rezervasyon:</strong> &nbsp; @ViewBag.oldRes</p>
            <p class="card-text"><strong class="text-dark">Onay Bekleyen:</strong> &nbsp; @ViewBag.approvalRes</p>
        </div>
    </div>
</div>
